services:
  postgres:
    image: postgres:17-alpine
    container_name: asernum_postgres
    restart: unless-stopped
    ports:
      - "5438:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: asernum_job_test
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
